
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
   background-image: url("https://pyxis.nymag.com/v1/imgs/99e/6f5/6eed622d1b1b0a77caad3e658d61630b76-baby-yoda.rsquare.w700.jpg");
    
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    font-family: sans-serif;
    box-sizing: border-box;
}
*{
    font-family: cursive;
}
::placeholder{
    font-family:cursive;
    font-size:90%;
    color:#F3F4F6;
}

.nav-class{
    /* background-color:#EC4899; */
     height: 15vh;
    width: 100%;
    color:white;

}
.footer{
    /* background-color:#EC4899; */
     height: 20vh;
    width: 100%;
    color:#E5E7EB;

}

.container-center{
    max-width: 600px;
    margin: auto;
}

#txt-input{
    border: 2px solid white;
    height: 20vh;
    width: 80%;
    margin-top:1rem;
    background-color: transparent;
}
#output{
    border: 2px solid white;
    height: 15vh;
    width: 80%;
    margin-top:1rem;
margin-bottom: 1rem;

}
#btn-translate{
    /* background-color:#EC4899 ; */
    background-color: transparent;
    color:white;
    height: 10vh;
    width: 30%;
   margin:1rem 0rem 1rem ;
   border: none;
   font-weight: bold;
   font-size: x-large;
   font-family: sans-serif;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-top: 1.5rem;
    font-family: sans-serif;
}

.about{
    padding-top: 0rem;
    
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}

p{
    text-align: center;
    font-size:90%;
    padding-top: 1em;
    color:#F3F4F6 ;
}
.show-here{
    font-size:90%;
    color: #F3F4F6;

}
